<% @title = "新規登録" %>

<div id="user-form">
  <h4 id="user-form-title"><%= @title %></h4>
  <%= form_with model: @user, url: :users, local: true do |f| %>
    <%= render "form", f: f %>
  <% end %>
</div>
