html,body{ margin:0; padding:0; height: 100%; }
.title-logo-img { height: 2.25rem; }
a:hover{ text-decoration: none !important; }
.hidden{ display: none !important; }
.alert { width: 100%; display:block;}
#flash-message{position: fixed; z-index: 100;}


footer { 
  bottom: 0;
  width: 100%;
  background-color: #666666;
  color: #eeeeee;
  p {
    text-align: center;
    padding:5px;
    margin:0;
  }
}

div#wrapper {
  position: relative;
  box-sizing: border-box;
  margin: 0 auto;
  padding-bottom: 48px;
  background-color: #fafafa;
  min-height: 100%;
  color: #404040;
}


//// モーダル
.modal{
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
  #hint-text{font-size: x-large;}
  p {margin:20px 0px;}
  overflow-y: scroll;
}
.modal__bg{
  background: rgba(0,0,0,0.1);
  height: 100vh;
  position: absolute;
  width: 100%;
}
.modal__content{
  background: white;
  left: 50%;
  padding: 40px;
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 60%;
  max-width: 700px;
}
//// モーダルここまで

////// 微調整

/// ブリンクさせる
.blink {
  animation: blink 0.4s infinite alternate;
}

@keyframes blink{
  from{opacity: 2;}
  to{opacity: 0.5;}
}
/// ブリンクさせるここまで

/// flex-box からはみ出るコンテンツを収める
* {
  overflow-wrap: break-word;
  word-wrap: break-word;
}
.d-flex:not(.flex-column)>* {
  min-width: 0;
}
.d-flex.flex-column>* {
  max-width: 100%;
}
/// flex-box からはみ出るコンテンツを収める ここまで

////// 微調整 ここまで

