div#profile-box {
  margin: 15px auto ;
  text-align:center;
  font-size: x-large;
  background: white;
  border-radius: 10px;

  .user-profile {
    margin: 0 auto ;
    width: 80%;
  }
  .user-profile-image img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    border: 1px white solid;
  }
  div{margin-bottom:10px;}
}

#user-show-register-btns{
  margin: 15px auto;
  padding: 0.5em 1em;
  background: white;
  border-radius: 10px;
}

.not-open::after{
  content: "🔒";
}
#created-wordnotes {
  margin: 0 auto;
}

.header-icon {
  width: 26px;
  height: 26px;
  border-radius: 13px;
}
.dropdown-toggle::after { content: none !important}
.favorited { color: #E45757 !important;}
.btn-search {
  color: #6666ee !important;
  border-color: #6666ee !important;
}

h4#user-show-favorites-title {
  position: relative;
  background: #FFEFEF;
  padding: 0.25em 0.5em;
  border-left: solid 2em #E45757;
  border-radius: 10px;
}

h4#user-show-wordnotes-title, h4#user-index-title {
  position: relative;
  background: #f1f8ff;
  padding: 0.25em 0.5em;
  border-left: solid 2em #5c9ee7;
  margin-top: 0.5em;
  border-radius: 10px;
}

h4#user-show-favorites-title:before {
  font-family: "Font Awesome 5 Free";
  content: "\f004";
  position: absolute;
  padding: 0em;
  color: white;
  font-weight: 900;
  left: -1.45em;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

h4#user-show-wordnotes-title:before, h4#user-index-title:before {
  font-family: "Font Awesome 5 Free";
  position: absolute;
  padding: 0em;
  color: white;
  font-weight: 900;
  left: -1.45em;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
h4#user-show-wordnotes-title:before{ content: "\f02d";}
h4#user-index-title:before { content: "\f007"; }

#user-show-left{
  margin: 0 auto;
}
